* {
    box-sizing: border-box;
}

#grid {
    display: grid;
    border: solid black;
    max-height: 90vh;
    max-width: 90vh;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    background-color: #808080;
}

.space {
   aspect-ratio: 1 / 1;
}

.hidden {
    display: none;
}